<h2><%= @cocktail.name %></h2>
<%= link_to "Home", cocktails_path %>

<% @cocktail.doses.each do |dose| %>
<h2>Doses : <%= dose.description %> de <%= dose.ingredient.name %> </h2>
<% end %>
<%= link_to "Add ingredients and doses", new_cocktail_dose_path(@cocktail) %>

